* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family:
    Inter, Arial, Helvetica, sans-serif;
  background: #f2efe8;
}

button,
input {
  font-family: inherit;
}